.inicio{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding: 4rem 2rem;
    min-height: 60vh;
    
}

.textos{
    margin: 0;
    width: 50%;
    max-width: 900px;
    height: 50vh;

    h1{
    width:100%;
    font-family: "Source Sans 3", sans-serif;
    color: #205691;
    font-size: clamp(40px, 8vw, 120px);
    font-style: normal;
    font-weight: 900;
    line-height: 0.95;
    margin-bottom: 3rem;

    }
    p{

        width:80%;
        color: #205691;
        margin-top: 1rem;
        font-size: 30px;
        font-weight: 200;
        font-family: "Alatsi", sans-serif;
        font-style: normal;
        line-height: 100%;
        
    }
}

.imagemContainer{
    margin: 0;
    width: 50%;

    .imagem{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        img{
            max-width: 100%;
            height: auto;
            object-fit: contain;
            display: block;
        }
    }
}

@media (min-width: 201px) and (max-width: 800px) {

    .inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50%;
        padding-left: 0;
        padding-top: 2rem;
    }

    .textos{
        width: 90%;
        height: 30vh;
        text-align: center;
        margin: 2rem;
        margin-bottom: 0;

        h1{
            width: 100%;
            font-size: 40px;
        }
        p{
            width: 100%;
            font-size: 13px;
            font-weight: normal;
        }
    }

    .imagemContainer{
        display: flex;
        justify-content: center;
        width: 100%;
        
        .imagem{
            width: 70%;
            height: 45vh;
            img{
                border-radius: 90%;
                width: 100%;
                height: 100%;
            }
        }
    }
}