.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #205691;
    margin: 0;
    padding: 12px 10px;
    width: 100%;
    
}

    .navBarFooter{
        
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .redesSociais{
        display: flex;
        gap: 15px;
    }

    .iconeRedeSocial{
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover{
            transform: scale(1.1);
        }
    }

.logoContainer{
    margin-left: 25px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    .logo{
        width: 90px;
        height: auto;
        
                transition: transform 320ms cubic-bezier(.2,.8,.2,1), filter 320ms;
    }

        /* footer logo animation class */
        .logoAnimated{
            display: inline-block;
        }

        .logoAnimated:hover{
            transform: translateY(-6px) scale(1.04);
            filter: drop-shadow(0 10px 24px rgba(33,91,146,0.12));
        }
    
    .nomeLogo{
        
        font-weight: 400;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-size: 24px;
        color: white;
       
    }

}

.direitos{
    width: auto;
    margin: 0 12px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}


@media (min-width: 201px) and (max-width: 768px) {

    .footer{
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 0;
        gap: 15px;
    }

    .navBarFooter{
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
    }

    .logoContainer{
        width: 50%;
        justify-content: center;
        gap: 2rem;

        .logo{
            width: 50px;
            height: 40px;
        }

        .nomeLogo{
            font-size: 25px;
            font-style: normal;
        }
    }

    .direitos{
        width: 100%;
        margin-right: 0;
        font-size: 12px;
        font-style: normal;
    }

    .redesSociais{
        gap: 4rem;

        .iconeRedeSocial{
            width: 35px;
            height: 35px;
        }
    }
}
    
